<div class="container">
  <!--Jumbotron-->
  <div class="jumbotron text-center bg-light">
    <h1 class="display-4" id="app-title">Eat the Burger<img class='burgerImage' src="/assets/img/burger-image.png"></h1>
    <p class="lead">Welcome! Add, eat, and delete some burgers!</p>
  </div>

  <div class='row'>
    <div class='col'>
      <h3>Available Burgers</h3>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
          <li>
            {{burger_name}}
            <button class='devour-burger btn btn-light' data-id="{{id}}">Devour!</button>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class= "col">
      <h3>Devoured Burgers</h3>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>
              {{burger_name}}
              <button type="button" class="delete-burger btn btn-light" data-id="{{this.id}}">DELETE</button>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class= "row">
  <div class="container add">
  <h3>Add a Burger</h3>
    <form class="create-form add-burger">

      <div class="form-group">
        <label for="burger">Burger Name:</label>
       <input type="text" id="newBurgerName" name="name">
      </div>
    
      <button type="submit" class="btn btn-outline-info">Add Burger</button>
    </form>

    </div>
  </div>
</div>